SECRET_KEY=your-secret-key-here-change-in-production

# Aiven MySQL
MYSQL_HOST=three-level-image-verification-db-securevision.k.aivencloud.com
MYSQL_PORT=18607
MYSQL_USER=avnadmin
MYSQL_PASSWORD=YOUR_NEW_AIVEN_PASSWORD
MYSQL_DATABASE=defaultdb

FLASK_ENV=development